# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.*
!.env.example

# Temporary / Scratch scripts
scratch/
strip.js
strip.cjs






VITE_SUPABASE_URL=https://kpibakzgqkbxzbzkvujj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtwaWJha3pncWtieHpiemt2dWpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMzY5NzEsImV4cCI6MjA5MjcxMjk3MX0.D9ki5VNriYbIX19ZmFSbKAExM9fqMhXnT7CQV0AYuoU
VITE_GROQ_API_KEY=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
